<form enctype="multipart/form-data"
action="add.php" method="POST">  
ISIM: <input type="text" name="name"><br>  
EMAIL: <input type="text" name = "email"><br>
Telefon: <input type="text" name = "phone"><br>  
Aciklama: <input type="text" name="explication"><br>
Fotograf: <input type="file" name="photo"><br>
<input type="submit" value="Add">   </form>